.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  /* width: 300px; */
}
.input-box {
  padding: 10px;
  width: 100%;
  margin: 8px 0;
  box-sizing: border-box;
}

.input-label {
  font-size: 18px;
  margin-bottom: 5px;
}

.expense-form {
  background-color: #fff;
  border: 2px solid red;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  width: 800px; /* Adjust width as needed */
}

.btn {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}
